body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url('../imagens/fundo1.png') repeat-x left top;
}

.topo{
	padding: 10px 0 0 0;
	height: 130px;
	float: right;
}

.logo{
	width: 152px;
	height: 76px;
}

.cls-login{
	margin-top: 60px;
	width: 50px;
	color: white;
}

.cls-login span{
	width: 60px;
}

.content{
    width: 90%;
    margin: auto;
    padding: 10px;
}

.pesquisa-pagina{
	width: 50%;
	margin: auto;
}

.btn-pesquisa{
	background-color: rgb(87, 87, 156);
	color: white;
}

.img-fluid{
    width: 140px;
    height: 140px;
}

.img-lei{
	width: 140px;
	height: 140px;
}

.img-proc-licitacao{
	width: 200px;
	height: 140px;
}

.img-newspaper{
	width: 120px;
	height: 140px;
}