body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url('../imagens/fundo.png') repeat-x left top;
}

#container{
	/*border: 1px solid red;*/
	width: 1120px;
	margin: 0 auto;
}

.topo{
	padding: 10px 0 0 0;
	height: 180px;
	/* background: url('../imagens/detalhe-topo.png') no-repeat right top; */
}

.logo{
    margin-top: 45px;
	width: 152px;
	height: 76px;
}

.cls-login{
	margin-top: 60px;
	width: 50px;
	color: white;
}

.cls-login span{
	width: 60px;
}

.secao-inicial{
    margin-top: 100px;
}

.img-fluid{
    width: 140px;
    height: 140px;
}

.img-lei{
	width: 140px;
	height: 140px;
}

.img-proc-licitacao{
	width: 200px;
	height: 140px;
}

.img-newspaper{
	width: 120px;
	height: 140px;
}

/* Barra de navegação */

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul{
	background: #b10333;
	margin-top: 30px;
	/* Se não colocar o float igual à configuração "#topo ul li", o background será perdido, pois
	a ul não estava flutuando como a li. */
	float: left;
}

#topo ul li{
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url('../imagens/divisor.png') no-repeat left center;
}

/* Formatação utilizada para retirar a imagem divisor.png que fica mais a esquerda do menu. */
#topo ul .primeiro a{
	background: none;
}

#topo ul a:hover{
	color: #69100d;
}

body.home #navegacao a#home, body.brasil #navegacao a#brasil, body.internacional #navegacao a#internacional, 
body.economia #navegacao a#economia, body.saude #navegacao a#saude, body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos{
	color: #fff;
	background: #de003e;
	cursor: text;
}