body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url('../imagens/fundo.png') repeat-x left top;
}

.topo{
	padding: 10px 0 0 0;
	height: 180px;
	float: right;
}

.logo{
	width: 152px;
	height: 76px;
}

.cls-login{
	margin-top: 60px;
	width: 50px;
	color: white;
}

.cls-login span{
	width: 60px;
}

.secao-inicial{
    margin-top: 100px;
}

.img-fluid{
    width: 140px;
    height: 140px;
}

.img-lei{
	width: 140px;
	height: 140px;
}

.img-proc-licitacao{
	width: 200px;
	height: 140px;
}

.img-newspaper{
	width: 120px;
	height: 140px;
}