/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url('../imagens/fundo1.png') repeat-x left top;
}

header{
    height: 180px;
}

.topo{
	padding: 10px 0 0 0;
	height: 130px;
	float: right;
}

.logo{
	width: 152px;
	height: 76px;
}

.content{
    width: 90%;
    margin: auto;
    padding: 10px;
}

.container-jumbotron img{
	width: 30%;
	height: 180px;
	float: right;
	padding-left: 10px;
}

.btn-pesquisa{
	background-color: rgb(87, 87, 156);
	color: white;
}

#lnk-ver-completa{
	display: none;
	font-size: 11px;
}

#demo{
	text-align: justify;
}

.pesquisa-pagina{
	width: 50%;
	margin: auto;
}

.parag1-noticia, .parag2-noticia, .parag3-noticia{
    text-align: justify;
}

.img-noticia-topo{
    float: right;
    width: 300px;
    padding-left: 10px;
}

.img-noticia-central{
	margin: 10px auto 20px auto;
	width: 50%;
	height: 25%;
	max-width: 450px;
	max-height: 250px;
}

/* Formanta lista de notícias */

.caixa-noticias img{
	width: 60px;
	height: 60px;
}

.caixa-noticias li a{
	padding: 5px;
}

.caixa-noticias li a h5{
	color: midnightblue;
}

.caixa-noticias li a p{
	font-size: 0.8em;
}

.caixa-noticias li:hover{
	background-color: #eee;
	cursor: pointer;
}

/* ÁREA DE COMENTÁRIOS */

.conteudo-comentarios{
	height: 100%;
	border-radius: 6px;
	border: 4px solid #ccc;
	background-color: white;
}

.caixa-comentarios{
	width: 95%;
	margin-left: 20px;
}

.caixa-comentarios > h3{
	width: 160px;
	border-bottom: 1px solid;
	/* margin-left: 10px; */
}

.comentarios{
	width: 90%;
}

.comentarios > img{
	float: left;
	width: 60px;
	height: 60px;
}

.comentarios > h5{
	font-size: 0.9em;
	margin-bottom: 0;
}

.comentarios p{
	margin-top: 18px;
	margin-left: 70px;
	margin-bottom: 10px;
	text-align: justify;
	font-size: 0.8em;
}

.comentarios > span{
	font-size: 0.7em;
}

.comentarios span > .img-interacao-rede-social{
	width: 15px;
	margin-left: 10px;
}

.img-comentarios{
	margin-left: 60px;
}

.comentarios p{
	margin-top: 18px;
	margin-left: 70px;
	margin-bottom: 10px;
	text-align: justify;
	font-size: 0.8em;
}

.comentarios span > .img-interacao-rede-social{
	width: 15px;
	margin-left: 10px;
}

/* BARRA LATERAL */

.barra-lateral{
	background-color:rgb(238, 236, 236);
	border-radius: 5px;
	/* border: 1px solid; */
}

.conteudo-barra-lateral{
	padding: 5px 0;
}

.barra-lateral span{
	display: block;
	width: 100%;
	text-align: center;
	color: midnightblue;
	padding-top: 3px;
	margin-top: 7px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

.barra-lateral label{
	padding-top: 5px;
    font-size: 0.8em;
	float: left;
}

#lfiltro{
    font-size: 0.8em;
    width: 100%;
    padding: 3px 0;
    float: left;
}

/* JANELA MODAL PARA REGISTRAR COMENTÁRIOS */

#janelaModal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 6%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(165, 165, 165, 0.8);
	overflow: auto;
}

.posFormulario{
	border-radius: 10px;
	background-color: white;
	margin: auto;
	padding: 50px;
	height: 450px;
	width: 600px;
}

#imgModal{
	display: inline;
	margin: auto;
	margin-top: 50px;
	width: 60px;
	height: 60px;
}

.dados-usuario{
	width: 430px;
	float: right;
	margin-top: 50px;
}

#lblUsuario, #inpUsuario{
	display: block;
	width: 70%;
}

#inpUsuario{
	border-radius: 3px;
	border-color: #ccc;
}

.posFormulario > textarea{
	display: block;
	width: 500px;
	margin: auto;
}

.botoes{
	float: right;
}